<header class="flex flex-col justify-center items-center py-4 rounded-b-4xl shadow-xl bg-cblack h-screen">
  <h1 class="text-4xl font-bold font-root px-12 text-center md:text-6xl transform -translate-y-12 xl:px-60 text-cwhite">
    <span class="gradient__text"> Wyróżnij się </span> orginalną stroną oraz autorskimi rozwiązaniami IT dla Twojego
    biznesu
  </h1>
  <div class="text-xl xl:px-96 text-center font-lora px-24 text-cwhite">
    Zapomnij o szablonach. Daj swojemu biznesowi<span class="gradient__text"> indywidualny charakter </span> dzięki
    stronie, która zapada w pamięć i
    oprogramowaniu, które działa dokładnie tak jak tego
    <div class="motion-preset-seesaw inline-block gradient__text__single"> potrzebujesz</div>
  </div>

  <button
    class="m-12 relative px-6 py-3 font-lora font-bold overflow-hidden group rounded-2xl shadow-2xl shadow-cblack2 bg-cblack2 hover:text-cblack transition duration-1000 text-cwhite">
                    <span class="absolute inset-0 bg-gradient-to-r from-lime-400 via-emerald-400 to-green-500 transform -rotate-45 scale-150
    group-hover:rotate-0 group-hover:scale-100 transition-all duration-1000 ease-in-out opacity-0 group-hover:opacity-100">
</span>

    <button class="relative z-10  text-2xl text-inherit">Umów darmową konsultację</button>
  </button>

  <div class="flex flex-col lg:flex-row justify-between gap-8 lg:mt-12 text-cwhite">
    <div
      class="w-11/12 lg:w-[275px] mx-auto bg-cblack3 text-center rounded-2xl p-6 text-xl font-root transition-transform duration-300 hover:scale-105 flex flex-row lg:block">
      <p class="hidden lg:block relative">
        <img src="assets/wdev.svg" width="75" class="c__svg_top_center">
      </p>
      <div class="pt-8"></div>
        <img src="assets/wdev.svg" width="75" class="lg:hidden">
      <p class="text-xl lg:text-2xl font-medium lg:min-h-16 p-1 inline">
        Rozwój oprogramowania
      </p>
      <p class="text-xl font-semibold gradient__text p-2 inline ">
        <a href="">Dowiedz się więcej ></a>
      </p>
    </div>
    <div
      class="w-11/12 lg:w-[275px] mx-auto bg-cblack3 text-center rounded-2xl p-6 text-xl font-root transition-transform duration-300 hover:scale-105 flex flex-row lg:block">
      <p class="hidden lg:block relative">
        <img src="assets/wdev.svg" width="75" class="c__svg_top_center">
      </p>
      <div class="pt-8"></div>
        <img src="assets/wdev.svg" width="75" class="lg:hidden">
      <p class="text-2xl font-medium lg:min-h-16 p-1 inline">
        Rozwój oprogramowania
      </p>
      <p class="text-xl font-semibold gradient__text p-2 inline ">
        <a href="">Dowiedz się więcej ></a>
      </p>
    </div>
    <div
      class="w-11/12 lg:w-[275px] mx-auto bg-cblack3 text-center rounded-2xl p-6 text-xl font-root transition-transform duration-300 hover:scale-105 flex flex-row lg:block">
      <p class="hidden lg:block relative">
        <img src="assets/wdev.svg" width="75" class="c__svg_top_center">
      </p>
      <div class="pt-8"></div>
        <img src="assets/wdev.svg" width="75" class="lg:hidden">
      <p class="text-2xl font-medium lg:min-h-16 p-1 inline">
        Rozwój oprogramowania
      </p>
      <p class="text-xl font-semibold gradient__text p-2 inline ">
        <a href="">Dowiedz się więcej ></a>
      </p>
    </div>

  </div>
</header>
