/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'tailwindcss/utilities';
@plugin "tailwindcss-motion";

@theme {
  --color-cgreen: #9bcb5b;
  --color-cblack: #262626;
  --color-cblack2: #484848;
  --color-cblack3: #424648;
  --color-cgray: #f3f3f3;
  --color-cwhite: #e1e7e1;
  --font-root: "Space Grotesk", sans-serif;
  --font-serif: "Space Grotesk", serif;
  --font-mono: "Space Grotesk", monospace;
  --font-cursive: "Space Grotesk", cursive;
  --font-lora: "Lora", italic;
  --font-loramono: "Lora", monospace;
}

@layer base {
  body {
    font-family: var(--font-root);
  }

  a, button {
    cursor: pointer;
  }

  .gradient__text {
    @apply bg-gradient-to-r from-emerald-200 via-green-300 to-green-500 bg-clip-text text-transparent;

    background-size: 200% 200%;
    animation: gradient-x 3s ease-in-out infinite;
  }

  .gradient__text__single {
    @apply bg-gradient-to-r from-cwhite via-emerald-100 to-cwhite  bg-clip-text text-transparent;

    background-size: 200% 200%;
    animation: gradient-x 3s ease-in-out infinite;
  }

  .c__container {
    @apply xl:max-w-9/12 mx-auto w-full
  }

  .c__svg_top_center {
    @apply absolute lg:-top-3 lg:left-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2
  }

  .gradient__svg {
    @apply bg-gradient-to-r from-lime-400 via-emerald-400 to-green-500;
    background-size: 200% 200%;
    animation: gradient-x 3s ease-in-out infinite;
  }

  .gradient-underline {
    @apply relative inline-block;

  }
  .gradient-underline::after {
    content: '';
    @apply absolute left-0 bottom-0 h-[2px] w-full bg-gradient-to-r from-emerald-200 via-green-300 to-green-500;
  }

  .gradient-underline_mobile::after {
    content: '';
    @apply absolute left-0 bottom-5 h-[2px] w-full bg-gradient-to-r from-emerald-200 via-green-300 to-green-500;
  }
}

.fade-menu {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes underlineFlow {
  0% {
    left: 0%;
    width: 0%;
  }
  35% {
    left: 0%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

.animate-underlineFlow {
  animation: underlineFlow 2s ease-in-out infinite;
}

